<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>All Podcasts | CineVibes Stream</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <% layout("layouts/boilerplate") -%>

  <div class="container">
    <h3>Podcasts</h3>

    <div class="listings-grid">
      <% for(let pod of poddata) { %>
        <div class="listing-card">
          <a href="/podcasts/<%= pod._id %>">
            <div class="image-wrapper">
              <img src="<%= pod.imagepath %>" alt="podcast image" onerror="this.onerror=null; this.src='/images/fallback.jpg';">
            </div>
            <div class="listing-info">
              <h4><%= pod.title %></h4>
            </div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
